<header></header>
<div>
	<section id="priority-wrapper">
    	{{#each primaries.priority}}
        	{{> primary}}
    	{{/each}}
    </section>
    <section id="secondary-wrapper">
    	{{#each primaries.secondary}}
        	{{> primary}}
    	{{/each}}
    </section>
    <section id="tertiary-wrapper">
    	{{#each primaries.tertiary}}
        	{{> primary}}
    	{{/each}}
    </section>
    <section id="credit">
    	<p class="credit">Graphics by Luke Whyte, Kia Farhang and Annie Millerbernd</p>
    	<p class="credit">Curation and research by Mike Knoop and Misty Harris</p>
    </section>
</div>