<div class="chart-row{{#if runoff}} runoff{{/if}}{{#if winner}} winner{{/if}}">
    <div class="row-label">{{ name }}{{#if incumbent}}*{{/if}}</div>
    <div class="row-bar{{#if @last}} last-row{{/if}}">
        <span class="bar-color {{is-outside votes max}}" style="width: {{set-bar-width votes max}}">
            <span class="bar-value">{{votes}}%</span>
        </span>
    </div>
</div>
