<div class="graphic">
  <h1>{{ title }}</h1>

  <div id="graphic-container">

    {{#each}}
    	{{> bargraph}}
    {{/each}}

  </div>

  <div class="footer">
    <ul>
      {% if source %}<li>Source: {% if source_url %}<a href="{{  source_url }}">{{ source }}</a>{% else %}{{ source }}{% endif %}</li>{% endif %}
    </ul>
  </div>
</div>