div.graphic {
	max-width: 46%;
	width: 100%;
	margin: 0 1% 0;
	display: inline-block;
	vertical-align: top;
}

.bar-chart {
	@include clearfix;
	font-size: .75em;
	margin: 0 0 1.666666667em; // 20px

	&.republican {
		.chart-row {
			&.winner, &.runoff {
        		.row-label {
		            color: $rep-red;
		        }
		    }
		}
		.bar-color {
			background-color: $rep-red;
		}
	}

	&.democrat {
		.chart-row {
			&.winner, &.runoff {
        		.row-label {
		            color: $dem-blue;
		        }
		    }
		}
		.bar-color {
			background-color: $dem-blue;
		}
	}
}


.footer {
	padding: 0 0 1em 0;

	.reporting {
		color: #282828;
	}
}
